.toolbar-container {
  width: 100%;
  max-width: 440px;
  height: calc(58px + 1rem);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  position: fixed;
  bottom: 0px;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.download-toolbar {
  position: absolute;
  left: 0px;
  display: none;
  bottom: 29px;
  padding-bottom: 18px;
  width: 100%;
  height: 110px;
  background-color: rgb(239, 239, 239);
  border: 1px solid rgb(239, 239, 239);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
  z-index: -1;
  transition: height 150ms ease-in-out 0s;
}
.download-toolbar.visible {
  display: flex;
}
.download-toolbar div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.toolbar {
  width: 90%;
  margin: 0 auto;
  position: relative;
  height: 58px;
  padding: 0 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 999px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0.25rem 0.5rem 0px;
}
.toolbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toolbar-nav-btn {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  position: relative;
  display: inline-flex;
  padding: 0.75rem;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
}
.search {
  background: var(--mainColor);
  border: none;
  border-radius: 100%;
  cursor: pointer;
  width: 30px;
  min-width: 55px;
  margin-top: -1.5rem;
}
.download-btn {
  border-radius: 3rem;
  border: none;
  position: relative;
  margin: 0px;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 2.5rem;
  cursor: pointer;
  font-weight: 700;
  padding: 0px 1rem;
  color: rgb(255, 255, 255);
  background-color: var(--mainColor);
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}


.menu-drawer-container {
  position: absolute;
  left: 22px;
  bottom: 29px;
  height: 60vh;
  width: 90%;
  background-color: white;
  border: 1px solid rgb(239, 239, 239);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  z-index: -1;
  animation: slideInFromBottom 0.5s ease-in-out;
}

.menu-drawer {
      background-color: rgb(239, 239, 239);
}
.drawer-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  border-bottom: 1px solid rgb(218, 218, 218);
  position: relative;
  background: white;
}
.exit-drawer-btn {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.625rem;
  height: 1.625rem;
  cursor: pointer;
  border-radius: 50%;
  background: rgb(200, 200, 200);
  padding: 2px;
  color: white;
  font-weight: 700;
  transition: color 200ms ease-in-out 0s;
  
}
.drawer-body {
  height: calc(-4rem + 60vh);
  overflow-y: scroll;
  padding-bottom: 3rem;
}
.drawer-menu {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
    background: white;
  border-top: 1px solid rgb(218, 218, 218);
  border-bottom: 1px solid rgb(218, 218, 218);
  margin-top: -1px;
  font-weight: bold;
  padding: 0 1.5rem;
}
.drawer-icons {
    display: inline-flex;
    margin: 0px 0.5rem 0px 0px;
    color: rgb(230, 0, 18);
    height: 100%;
    align-items: center;
}
.drawer-menu p {
    flex: 1 1 auto;
    text-align: left;
}
.drawer-menu:nth-child(6) {
    margin-top: 1rem;
}
@media (min-width: 768px) {
  .toolbar-container {
    background: none;
  }
  .toolbar-nav-btn {
    padding: 1rem;
  }
}
@media (min-width: 1024px) {
  .toolbar-container {
    display: none;
  }
}
