.mobileNav {
    padding: 0.5rem 1rem;
}
nav {
    font-size: 0.75rem;
}
.nav-link {
    display: flex;
    align-items: center;
    gap: 24px;
}
.flag {
    width: 22px;
}
.flag img {
    border-radius: 0.5rem;
}
.nintendo-logo {
    width: 90px;
    padding-top: 6px;
}
.nav-banner {
    background-color: rgb(248,248,248);
    padding: 0.75rem;
    min-height: 48px;
}
.points-link {
    text-decoration: underline;
}

@media (min-width: 425px) {
    .nav-banner-text {
        font-size: 1rem;
    }
}